.header{
box-shadow: 4px 1px 10px rgba(0, 0, 0, 0.5);
}
.canva-box{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 10px 5px 15px;
    width: 80%;
    height: 670px;
    position: relative;
    left: 10%;
}

.canva-header{
    background-color: purple;
    color: white;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.5);
}

.toolbar{
    border-bottom: none;
    width: fit-content;
    padding: 5px;
    position: relative;
    top: 10px;
    border-radius: 7px 7px 0 0;
    display: flex;
    gap: 10px;
}

.colorpicker{
    display: flex;
    border: 3px solid yellow;
    border-radius: 5px;
    padding: 2px 4px;
    align-items: center;
    cursor: pointer;
}

.disable-button{
   background-color: #eeecec;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.6;
    border-radius: 6px;
}